.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  padding: 0px;
}

.form {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  align-items: center;
}

.addTask {
  font-size: 50px;
}

.input {
  padding: 10px;
  width: 1000px;
  font-size: 20px;
}

.btn {
  width: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: darkred;
  padding: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.task {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.finalList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.item {
  margin: 9px;
  padding: 4px;
  font-size: 25px;
  font-weight: 800px;
  color: rgb(118, 7, 7);
  font-family: monospace;
  border: 1px solid rgb(55, 12, 12);
  border-radius: 9px;
  width: 50rem;
}
